:root {
  --primary: #f95738;
}

body {
  background-color: #083d77;
}
h1 {
  color: var(--primary);
  text-align: center;
  font-family: "Bungee";
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 200px;
}

.parent-container p {
  background-color: white;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;
  text-align: center;
}

.openPackBtn {
  position: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.packImg {
  z-index: 0;
  margin: auto;
}
.openPackBtn .btn {
  z-index: 1;
  position: relative;
  top: -250px;
  width: 100px;
}

.card {
  margin: 3rem;
  min-width: 15rem;
  max-width: 15rem;
}
.card:hover .card-img-top {
  transition: 0.5s;
  filter: brightness(50%);
}

.openPackBtn button:hover {
  color: #ffc600;
  background-color: black;
}

.card h2 {
  font-size: 1rem;
  text-align: center;
  margin: 0.2rem;
}

.card h3 {
  font-size: 0.75rem;
  text-align: center;
  margin: 0.2rem;
}

.common {
  color: grey;
}

.uncommon {
  color: green;
}

.rare {
  color: blue;
}

.legendary {
  color: orange;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin: 0.2rem;
}
