*{
    font-family: 'Press Start 2P';
}

nav{
  display:flex;  
  justify-content:space-evenly;
}

a{
    /* play with box shadow more */
    font-weight: bolder;
    border: #FFC600 2px solid;
    margin:1rem;
    padding:.5rem;
    border-radius:7.5px;
    background-color:#FFFC79;
    text-decoration:none;
    box-shadow:5px 5px 5px 5px black;
    /* transition:.5s; */
}

a:hover{
    box-shadow:2px 2px 2px 2px black;
}

